.signup-container {
  width: 100vw;
  background: #020617;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  background-color: #0f172a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: -4px 0 8px rgba(56, 189, 248, 0.2),
    4px 0 8px rgba(56, 189, 248, 0.2);
  max-width: 600px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.signup-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: whitesmoke;
}

.line {
  color: #333;
  height: 2px;
  background-color: #c3cfe2;
  margin-bottom: 20px;
}

.persontype-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 8px;
  font-weight: bold;
  color: whitesmoke;
}

.is-staff {
  margin: 0;
  padding-right: 10px;
}

.error-message p {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.signup-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.signup-field {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.signup-field label {
  color: #555;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}

.signup-textbox {
  padding: 10px;
  border: 1px solid #c3cfe2;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.signup-textbox:focus {
  border-color: #6a82fb;
  outline: none;
  box-shadow: 0 0 5px rgba(106, 130, 251, 0.5);
}

.signup-button {
  padding: 10px 25px;
  font-size: 17px;
  font-weight: bold;
  color: #0369a1;
  background-color: rgba(2, 132, 199, 0.1);
  border: none;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: block;
  margin: 0px auto;
}

.signup-button:hover {
  background-color: #0369a1;
  color: white;
  transform: translateY(-2px);
}
