.signin-container {
  height: 100vh;
  width: 100vw;
  background: #020617;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-card {
  background-color: #0f172a;
  padding: 40px;
  border-radius: 10px;
  box-shadow: -4px 0 8px rgba(56, 189, 248, 0.2),
    4px 0 8px rgba(56, 189, 248, 0.2);
  max-width: 400px;
  width: 100%;
  margin-top: 30px;
}

.signin-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: whitesmoke;
}

.line {
  color: #333;
  height: 2px;
  background-color: #c3cfe2;
  margin-bottom: 20px;
}

.persontype-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 8px;
  font-weight: bold;
  color: whitesmoke;
}

.is-staff {
  margin: 0;
  padding-right: 10px;
}

.error-message p {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.signin-fields {
  display: flex;
  flex-direction: column;
}

.signin-fields label {
  color: #555;
  font-weight: 600;
  margin-bottom: 5px;
}

.signin-fields label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}

.signin-textbox {
  padding: 10px;
  border: 1px solid #c3cfe2;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.signin-textbox:focus {
  border-color: #6a82fb;
  outline: none;
  box-shadow: 0 0 5px rgba(106, 130, 251, 0.5);
}

.signin-button {
  padding: 8px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #0369a1;
  background-color: rgba(2, 132, 199, 0.1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signin-button:hover {
  background-color: #0369a1;
  color: white;
  transform: translateY(-2px);
}

.forget-pass {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #6a82fb;
  text-decoration: none;
}

.forget-pass:hover,
.signup-question:hover {
  text-decoration: underline;
}

.signup-option {
  background-color: rgba(2, 132, 199, 0.1);
  padding: 20px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 15px;
}

.signup-question {
  font-weight: 500;
  color: #0284c7;
}
